* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: papayawhip;
}

h3 {
  text-align: center;
  padding: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 72vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  grid-gap: 1vw;
}

button {
  color: #FFF;
  background-color: blue;
  width: 14vw;
  padding: .65rem;
}
